*{
	box-sizing: border-box;
}
html, body{
height: 100%;
width: 100%;
margin: 0;
padding:0;
overflow-x: hidden;
}
th, td {
	border: 1px solid black;
}
table{
	min-width: 65%;
	padding: 15px;
}

header{
	text-align: center;
	background-color: grey;
	height: 100px;
	padding-top: 20px;
}
nav{
	width: 25%;
	background-color: #454745;
	height: 100%;
	position: absolute;	

}
content{
	background-color: #9b9e9b;
	position: relative;
	top: 0;
	left: 25%;
	margin: 10px;
}

ul{
	list-style: none;
}

.menu li {
	text-align: center;
	height: 45px;
	width: 80%;
	border-color: grey;
	border-style: solid;
	border-width: 1px;
	padding: 12px;

}

.menu h2{
	text-align: center;
	color: white;
}
.menu a {
	color: white;
}
footer > div {
	background-color: #353835;
	height: 80px;
	color: white;
	padding-top: 30px;
}

img{
	height: auto;
	width: 600px;
}
.link_loja{
	margin:auto;
}
.link_loja li{
	float: left;
	margin-right: 5%;
	margin-left: 5%;
}
.link_footer{
	color: white;
	width: 30%;
	text-align: center;
	margin-left: 40px;
}

.container{
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	width: 100%;
	background-color: #9b9e9b;
	min-height: 400px;

}

.conteudo{
	width: 73%;
	margin-left: 10px;
	padding: 10px;
}

.miniatura_link{
	height: 60px;
	width: auto;
}

h2{
	clear: left;
}
.imagem_centralizada{
	text-align: center;
}
.linha_branca{
	background-color: white;
}

.rotulos{
	display: inline-block;
	width: 100px;
	padding: 5px;
	margin: 5px 0 5px 0;
}

#form_fale_conosco > input, textarea{
	width: 400px;
}

.botao_enviar{
	width: 150px;
	height: 25px;
	background-color: black;
	color: white;
	padding: 0;
	margin-top: 10px;
}
.coluna{
	width: 50%;
	float: left;
}

.coluna > input{
	width: 45%;
}

.coluna > input[type="radio"]{
	width: 0%;
}
